/*!
 * Start Bootstrap - 4 Col Portfolio (https://startbootstrap.com/template-overviews/4-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-4-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
  background-color: #9ca1a6;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top{
  background: linear-gradient(#c10000, #490000);

  }
.btn {
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d39898;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(#a30000, #470000);
}
.categories{
    background: linear-gradient(#c10000, #490000);
    border: none;
    color: #d4d6d8;
    padding: 4px 16px;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
    width: 150px;
    }
.categories:hover{
    background: linear-gradient(#a30000, #470000);
}

.favorites{
    background: linear-gradient(#c10000, #470000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
}
.favorites:hover{
    background: linear-gradient(#a30000, #470000);
}
.cart{
    background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
}
.cart:hover{
    background: linear-gradient(#a30000, #470000);
}
.log-in{
    background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
}
.log-in:hover{
    background: linear-gradient(#a30000, #470000);
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  float: left;
  width: 80%;
  background:white;

}
form.example:focus, input:focus{
    background: #d4d6d8;
    outline-color: #2d0000;

}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: linear-gradient(#c10000, #490000);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px; /* Prevent double borders */
  cursor: pointer;
}
form.example button:hover {
  background: linear-gradient(#a30000, #470000);
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
  h1 a.brand{
      font-family: Comfortaa, Serif;
      color: white;
      opacity: 0.9;
      text-decoration: none;

      }
  h1 a.brand:hover{
    color: #d4d6d8;
  }

  a.list-group-item{

        color: white;
    }
  a.list-group-item#lgi1{
    border-radius: 7px;
    border-color: #9ca1a6;
    border-bottom: none;
    border-width: 3px;
    background: linear-gradient(#a80101, #820101);
  }
  a.list-group-item#lgi2{
    border-radius: 7px;
    border-color: white;
    border-bottom: none;
    border-width: 3px;
    background: linear-gradient(#820101, #770101);
  }
  a.list-group-item#lgi3{
    border-radius: 7px;
    border-color: white;
    border-bottom: none;
    border-width: 3px;
    background: linear-gradient(#770101, #680101);
  }
  a.list-group-item#lgi4{
    border-radius: 7px;
    border-color: white;
    border-bottom: none;
    border-width: 3px;
    background: linear-gradient(#680101, #600000);
  }
  a.list-group-item#lgi5{
    border-radius: 7px;
    border-color: white;
    border-width: 3px;
    background: linear-gradient(#600000, #5e0000);
  }
  a.list-group-item#lgi1:hover{
    font-weight: bold;
    background: linear-gradient(#a30000, #470000);
  }
  a.list-group-item#lgi2:hover{
    font-weight: bold;
    background: linear-gradient(#a30000, #470000);
  }
  a.list-group-item#lgi3:hover{
    font-weight: bold;
    background: linear-gradient(#a30000, #470000);
  }
  a.list-group-item#lgi4:hover{
    font-weight: bold;
    background: linear-gradient(#a30000, #470000);
  }
  a.list-group-item#lgi5:hover{
    font-weight: bold;
    background: linear-gradient(#a30000, #470000);
  }

button.favorite:hover{
    background: linear-gradient(#a30000, #470000);
}
.btn a {
    color: #d39898;
}
.btn a:hover{
    color: #d39898;
    text-decoration: none;
}
.log-in a {
    color: #d39898;
}
.log-in a:hover{
    color: #d39898;
    text-decoration: none;
}
.cart a {
    color: #d39898;
}
.cart a:hover{
    color: #d39898;
    text-decoration: none;
}
.favorites a {
    color: #d39898;
}
.favorites a:hover{
    color: #d39898;
    text-decoration: none;
}

/*@media (min-width: )*/
    .favorite {
        background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        font-size: 14px;
        cursor: pointer;
        border-radius: 8px;
        margin-bottom: 10px;
        width: 160px;
        height: 35px;
        padding-top: 3px;
    }

.card.h-100 {
    background-color: #9ca1a6;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;
}
img.card-img-top{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px;
}
p.price{
    color: #4285f4;
    font-weight: bold;
}

.admin-page a {
    color: #d39898;
}
.admin-page a:hover{
    color: #d39898;
    text-decoration: none;
}
.col-lg-4{
    background-color: #9ca1a6;
}
.card-body{
    text-align: center;
    background-color: #9ca1a6;

}
.cart.buy {
    border-radius: 8px;
    height: 35px;
    width: 130px;
    font-size: 14px;
    padding-top: 6px;
}
.favorite:focus{
    outline: 0;
    box-shadow: none!important;
}
.cart.buy:focus{
    outline: 0;
    box-shadow: none!important;
}
.my-4{
    padding-top: 15px;
    font-size: 28px;
}