html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("blur-book-stack-books-590493.jpg");
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"]{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  }
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"]#confirmPassword{
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 20px;
}


.btn.btn-lg.btn-primary.btn-block{
     background: linear-gradient(#c10000, #490000);
     border: none;
     color: #d39898;
     padding: 12px 16px;
     font-size: 16px;
     cursor: pointer;
}
.btn.btn-lg.btn-primary.btn-block:hover{
    background: linear-gradient(#a30000, #470000);

}
.h3.mb-3.font-weight-normal {
    color: #e4e9ed;
}
.btn.btn-lg.btn-primary.btn-block:focus{
    outline: 0;
    box-shadow: none!important;

}
.checkbox.mb-3 {
    color: black;
}

