/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {

    padding-top: 54px;
    background-color: #9ca1a6;



}

    body {

        padding-top: 56px;


    }

    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
        background: linear-gradient(#c10000, #490000);

    }

    .btn {
        background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        height: 48px;
    }

    .btn:hover {
        background: linear-gradient(#a30000, #470000);
    }

    .btn:focus {
        border-color: black;
        background: linear-gradient(#a30000, #470000);
    }

    .categories {
        background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d4d6d8;
        padding: 4px 16px;
        font-size: 16px;
        cursor: pointer;
        height: 48px;
        width: 150px;
    }

    .categories:hover {
        background: linear-gradient(#a30000, #470000);
    }

    .favorites {
        background: linear-gradient(#c10000, #470000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

    .favorites:hover {
        background: linear-gradient(#a30000, #470000);
    }
    .favorites:focus{
        outline: 0;
        box-shadow: none!important;
    }

    .cart {
        background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        height: 48px;
    }

    .cart:hover {
        background: linear-gradient(#a30000, #470000);
    }

    .cart:focus {
        outline: 0 !important;
    }

    .log-in {
        background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

    .log-in:hover {
        background: linear-gradient(#a30000, #470000);
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        float: left;
        width: 80%;
        background: white;

    }

    form.example:focus, input:focus {
        outline-color: #2d0000;

    }

    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: linear-gradient(#c10000, #490000);
        color: white;
        font-size: 17px;
        border: none;
        border-radius: 5px; /* Prevent double borders */
        cursor: pointer;
    }

    form.example button:hover {
        background: linear-gradient(#a30000, #470000);
    }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
    .favorite {
        background: linear-gradient(#c10000, #490000);
        border: none;
        color: #d39898;
        font-size: 14px;
        cursor: pointer;
        border-radius: 8px;
        margin-bottom: 10px;
        width: 160px;
        height: 35px;
        padding-top: 3px;
    }
    .favorite:hover {
        background: linear-gradient(#a30000, #470000);
    }
    .favorite:focus{
        outline: 0;
        box-shadow: none!important;
    }
    .cart.buy:focus{
        outline: 0;
        box-shadow: none!important;
    }

    h1.my-4 a {

        font-family: Comfortaa, Serif;
        color: black;
        opacity: 0.9;
        text-decoration: none;
        text-shadow: 3px 4px #564f4f;
    }

    h1.my-4 a:hover {
        color: #3f3939;
    }

    a.list-group-item {

        color: white;
    }

    a.list-group-item.lg {
        border-radius: 7px;
        border-color: #9ca1a6;
        border-bottom: none;
        border-width: 3px;
        background: linear-gradient(#a80101, #820101);
    }

    a.list-group-item.lg:hover {
        font-weight: bold;
        background: linear-gradient(#a30000, #470000);
    }

    .cart.buy {
        border-radius: 8px;
        height: 35px;
        width: 130px;
        font-size: 14px;
        padding-top: 6px;
    }

    .btn a {
        color: #d39898;
    }

    .btn a:hover {
        color: #d39898;
        text-decoration: none;
    }

    .log-in a {
        color: #d39898;
    }

    .log-in a:hover {
        color: #d39898;
        text-decoration: none;
    }

    .cart a {
        color: #d39898;
    }

    .cart a:hover {
        color: #d39898;
        text-decoration: none;
    }

    .favorites a {
        color: #d39898;
    }

    .favorites a:hover {
        color: #d39898;
        text-decoration: none;
    }

    h4.a {
        font-size: 14px;
    }

    .card.h-100 {
        background-color: #9ca1a6;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 250px;
    }

    img.card-img-top {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    p.price {
        color: #4285f4;
        font-weight: bold;
    }

    .admin-page a {
        color: #d39898;
    }

    .admin-page a:hover {
        color: #d39898;
        text-decoration: none;
    }

    .col-lg-4 {
        background-color: #9ca1a6;
    }

    .card-body {
        text-align: center;
        background-color: #9ca1a6;

    }
    .error-message {
        color: #292828;
        font-family: Comfortaa, Serif, serif;
        font-size: 22px;
        padding-left: 20px;
        display: inline-block;
    }
    .error-image {
        display: inline-block;
    }

