html,
body {
  height: 100%;
}

body {

  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("blur-book-stack-books-590493.jpg");
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;

  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn.btn-lg.btn-primary.btn-block{
     background: linear-gradient(#c10000, #490000);
     border: none;
     color: #d39898;
     padding: 12px 16px;
     font-size: 16px;
     cursor: pointer;
}
.btn.btn-lg.btn-primary.btn-block:hover{
    background: linear-gradient(#a30000, #470000);

}
.btn.btn-lg.btn-primary.btn-block:focus{
    outline: 0 !important;
}
.h3.mb-3.font-weight-normal{
    color: #e4e9ed;
}
.checkbox.mb-3 {
    color: black;
}
