<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Favorites</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/favorites.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Shrikhand" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" type="image/png" href="css/icons8-love-book-50.png">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <h1><a class="brand" href="/homepage">Booktique</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <button class="btn"><i class="fa fa-home"></i><a href="/homepage">Home</a></button>
            </li>
            <li class="nav-item dropdown">
              <button class="categories">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a th:each="category: ${categories}"
                     th:href="@{'/categories?category='+${category}}" class="dropdown-item"
                     th:text="${category}"></a>
                </div>
              </button>
            </li>

            <li class="nav-item">
              <button class="favorites"><a href="/favorites">Favorites</a></button>
            </li>
            <li class="nav-item">
              <button class="cart"><a href="/shopping_cart">Shopping Cart</a></button>
            </li>
            <li class="nav-item">
              <button th:if="${!logged}" class="log-in"><a href="signin.html">Log In</a></button>
              <button th:if="${logged}" class="log-in"><a href="/logout">Log out</a></button>
            </li>
            <li class="nav-item">
              <form class="example" action="/search" method="post">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h4 class="my-4">Favorites
        <small>(<span th:text="${totalItems}">0</span> items)</small>
      </h4>
      <hr>

        <div  th:each="b: ${books}" class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100" >
              <a th:href="@{'/book?book_id='+${b.id}}"><img class="card-img-top" th:src="${b.photo}" alt=""></a>
              <div class="card-body">
                  <p class="card-title">
                    <a th:text="${b.bookTitle}" th:href="@{'/book?book_id='+${b.id}}" style="color: black; font-size: 16px; display: block; length: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center"></a>
                  </p>
                  <p class="price" th:text="@{'$'+${b.price}}"></p>
                  <form action="/addToCart" method="post">
                    <input name="id" hidden th:value="${b.id}">
                    <button type="submit" class="cart buy">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                  </form>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item"></div>
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <form action="/delete" method="post">
              <input name="id" hidden th:value="${b.id}">
              <button style="border-radius: 25px" type="submit" class="delete">Delete</button>
            </form>
        </div>
          <hr>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
