<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="shortcut icon" type="image/png" href="css/icons8-love-book-50.png">


    <title>Booktique</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/order_review.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <main role="main" class="inner cover">
        <h4 class="cover-heading">Thank you! Your order has been purchased! </h4>
        <div class="row">


          <div th:each="b: ${books}" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a th:href="@{'book/book_id?='+${b.id}}"><img class="card-img-top" th:src="${b.photo}" alt="" ></a>
              <div class="card-body">
                <div class="wp">
                    <a th:href="@{'book/book_id?='+${b.id}}"><p th:text="${b.bookTitle}" class="card-title" style="color: black; font-size: 16px; display: block; width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: auto"></p></a>
                  <p class="price" th:text="@{'$'+${b.price}}"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="center" style="padding-left:250px">
          <button class="btn"><a href="/homepage" style="color: white"> Continue shopping</a></button>
        </div>
        </div>
      </main>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
